Flask==3.0.3
flask-cors

flask-socketio==5.3.6
python-socketio==5.11.4
eventlet==0.36.1
simple-websocket

python-dotenv==1.0.1
SQLAlchemy==2.0.32
greenlet
psycopg2-binary

asyncpg

pydantic
pydantic[email]
pydantic-settings

gunicorn==23.0.0

PyJWT

